<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.nuc.ssm.dao.movie.MovieMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.nuc.ssm.entity.movie.Movie" >
    <id column="moveId" property="moveid" jdbcType="VARCHAR" />
    <result column="moveName" property="movename" jdbcType="VARCHAR" />
    <result column="director" property="director" jdbcType="VARCHAR" />
    <result column="actor" property="actor" jdbcType="VARCHAR" />
    <result column="language" property="language" jdbcType="VARCHAR" />
    <result column="typeId" property="typeid" jdbcType="VARCHAR" />
    <result column="distrit" property="distrit" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="VARCHAR" />
    <result column="keyWord" property="keyword" jdbcType="VARCHAR" />
    <result column="picId" property="picid" jdbcType="VARCHAR" />
    <result column="keyChinese" property="keychinese" jdbcType="VARCHAR" />
    <result column="routeId" property="routeid" jdbcType="VARCHAR" />
    <result column="colum1" property="colum1" jdbcType="VARCHAR" />
    <result column="colum2" property="colum2" jdbcType="VARCHAR" />
    <result column="colum3" property="colum3" jdbcType="VARCHAR" />
    <result column="colum4" property="colum4" jdbcType="VARCHAR" />
    <result column="colum5" property="colum5" jdbcType="VARCHAR" />
    <association property="pic" javaType="cn.edu.nuc.ssm.entity.movie.Pic">
      <id column="id" jdbcType="VARCHAR" property="id" />
      <result column="picid" jdbcType="VARCHAR" property="picid" />
      <result column="picurl" jdbcType="VARCHAR" property="picurl" />
    </association>
    <association property="type" javaType="cn.edu.nuc.ssm.entity.movie.Type">
      <id column="id" jdbcType="VARCHAR" property="id" />
      <result column="typeid" jdbcType="VARCHAR" property="typeid" />
      <result column="typename" jdbcType="VARCHAR" property="typename" />
    </association>
</resultMap>
  <sql id="Base_Column_List" >
    moveId, moveName, director, actor, language, typeId, distrit, date, keyWord, picId, 
    keyChinese, routeId, colum1, colum2, colum3, colum4, colum5
  </sql>
  <!--模糊查询数量-->
  <select id="selectMovieCount" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select
    count(moveId)
    from movie
    where moveName like #{key}
    or director like #{key}
  </select>
  <!--模糊查询分页显示-->
  <select id="selectMovieByKey" resultMap="BaseResultMap">
    select m.*,p.picId,picurl,t.typeid,t.typename
    from movie m left join pic p on m.picId = p.picId left join type t on m.typeid = t.typeid
    where moveName like #{key}
    or director like #{key}
    limit #{start},#{offset}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from movie
    where moveId = #{moveid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from movie
    where moveId = #{moveid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.nuc.ssm.entity.movie.Movie" >
    insert into movie (moveId, moveName, director, 
      actor, language, typeId, 
      distrit, date, keyWord, 
      picId, keyChinese, routeId, 
      colum1, colum2, colum3, 
      colum4, colum5)
    values (#{moveid,jdbcType=VARCHAR}, #{movename,jdbcType=VARCHAR}, #{director,jdbcType=VARCHAR}, 
      #{actor,jdbcType=VARCHAR}, #{language,jdbcType=VARCHAR}, #{typeid,jdbcType=VARCHAR}, 
      #{distrit,jdbcType=VARCHAR}, #{date,jdbcType=VARCHAR}, #{keyword,jdbcType=VARCHAR}, 
      #{picid,jdbcType=VARCHAR}, #{keychinese,jdbcType=VARCHAR}, #{routeid,jdbcType=VARCHAR}, 
      #{colum1,jdbcType=VARCHAR}, #{colum2,jdbcType=VARCHAR}, #{colum3,jdbcType=VARCHAR}, 
      #{colum4,jdbcType=VARCHAR}, #{colum5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.nuc.ssm.entity.movie.Movie" >
    insert into movie
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="moveid != null" >
        moveId,
      </if>
      <if test="movename != null" >
        moveName,
      </if>
      <if test="director != null" >
        director,
      </if>
      <if test="actor != null" >
        actor,
      </if>
      <if test="language != null" >
        language,
      </if>
      <if test="typeid != null" >
        typeId,
      </if>
      <if test="distrit != null" >
        distrit,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="keyword != null" >
        keyWord,
      </if>
      <if test="picid != null" >
        picId,
      </if>
      <if test="keychinese != null" >
        keyChinese,
      </if>
      <if test="routeid != null" >
        routeId,
      </if>
      <if test="colum1 != null" >
        colum1,
      </if>
      <if test="colum2 != null" >
        colum2,
      </if>
      <if test="colum3 != null" >
        colum3,
      </if>
      <if test="colum4 != null" >
        colum4,
      </if>
      <if test="colum5 != null" >
        colum5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="moveid != null" >
        #{moveid,jdbcType=VARCHAR},
      </if>
      <if test="movename != null" >
        #{movename,jdbcType=VARCHAR},
      </if>
      <if test="director != null" >
        #{director,jdbcType=VARCHAR},
      </if>
      <if test="actor != null" >
        #{actor,jdbcType=VARCHAR},
      </if>
      <if test="language != null" >
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null" >
        #{typeid,jdbcType=VARCHAR},
      </if>
      <if test="distrit != null" >
        #{distrit,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="picid != null" >
        #{picid,jdbcType=VARCHAR},
      </if>
      <if test="keychinese != null" >
        #{keychinese,jdbcType=VARCHAR},
      </if>
      <if test="routeid != null" >
        #{routeid,jdbcType=VARCHAR},
      </if>
      <if test="colum1 != null" >
        #{colum1,jdbcType=VARCHAR},
      </if>
      <if test="colum2 != null" >
        #{colum2,jdbcType=VARCHAR},
      </if>
      <if test="colum3 != null" >
        #{colum3,jdbcType=VARCHAR},
      </if>
      <if test="colum4 != null" >
        #{colum4,jdbcType=VARCHAR},
      </if>
      <if test="colum5 != null" >
        #{colum5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.nuc.ssm.entity.movie.Movie" >
    update movie
    <set >
      <if test="movename != null" >
        moveName = #{movename,jdbcType=VARCHAR},
      </if>
      <if test="director != null" >
        director = #{director,jdbcType=VARCHAR},
      </if>
      <if test="actor != null" >
        actor = #{actor,jdbcType=VARCHAR},
      </if>
      <if test="language != null" >
        language = #{language,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null" >
        typeId = #{typeid,jdbcType=VARCHAR},
      </if>
      <if test="distrit != null" >
        distrit = #{distrit,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        keyWord = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="picid != null" >
        picId = #{picid,jdbcType=VARCHAR},
      </if>
      <if test="keychinese != null" >
        keyChinese = #{keychinese,jdbcType=VARCHAR},
      </if>
      <if test="routeid != null" >
        routeId = #{routeid,jdbcType=VARCHAR},
      </if>
      <if test="colum1 != null" >
        colum1 = #{colum1,jdbcType=VARCHAR},
      </if>
      <if test="colum2 != null" >
        colum2 = #{colum2,jdbcType=VARCHAR},
      </if>
      <if test="colum3 != null" >
        colum3 = #{colum3,jdbcType=VARCHAR},
      </if>
      <if test="colum4 != null" >
        colum4 = #{colum4,jdbcType=VARCHAR},
      </if>
      <if test="colum5 != null" >
        colum5 = #{colum5,jdbcType=VARCHAR},
      </if>
    </set>
    where moveId = #{moveid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.nuc.ssm.entity.movie.Movie" >
    update movie
    set moveName = #{movename,jdbcType=VARCHAR},
      director = #{director,jdbcType=VARCHAR},
      actor = #{actor,jdbcType=VARCHAR},
      language = #{language,jdbcType=VARCHAR},
      typeId = #{typeid,jdbcType=VARCHAR},
      distrit = #{distrit,jdbcType=VARCHAR},
      date = #{date,jdbcType=VARCHAR},
      keyWord = #{keyword,jdbcType=VARCHAR},
      picId = #{picid,jdbcType=VARCHAR},
      keyChinese = #{keychinese,jdbcType=VARCHAR},
      routeId = #{routeid,jdbcType=VARCHAR},
      colum1 = #{colum1,jdbcType=VARCHAR},
      colum2 = #{colum2,jdbcType=VARCHAR},
      colum3 = #{colum3,jdbcType=VARCHAR},
      colum4 = #{colum4,jdbcType=VARCHAR},
      colum5 = #{colum5,jdbcType=VARCHAR}
    where moveId = #{moveid,jdbcType=VARCHAR}
  </update>
</mapper>