<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nuc.ssm.dao.PowerMapper">
  <resultMap id="BaseResultMap" type="cn.edu.nuc.ssm.entity.Power">
    <id column="powerID" jdbcType="VARCHAR" property="powerid" />
    <result column="praPoerID" jdbcType="VARCHAR" property="prapoerid" />
    <result column="powerName" jdbcType="VARCHAR" property="powername" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="isCheck" jdbcType="VARCHAR" property="ischeck" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="colum1" jdbcType="VARCHAR" property="colum1" />
    <result column="colum2" jdbcType="VARCHAR" property="colum2" />
    <result column="colum3" jdbcType="VARCHAR" property="colum3" />
    <result column="colum4" jdbcType="VARCHAR" property="colum4" />
    <result column="colum5" jdbcType="VARCHAR" property="colum5" />
  </resultMap>
  <sql id="Base_Column_List">
    powerID, praPoerID, powerName, url, isCheck, description, status, type, colum1, colum2, 
    colum3, colum4, colum5
  </sql>
  <select id="selectPowerByKey" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from power
    where powerName like #{key}
    or url like #{key}
    or description like #{key}
    limit #{start},#{offset}
  </select>
  <select id="selectPowerCountAll" resultType="java.lang.Integer">
    select count(powerID)
    from power
  </select>
  <select id="selectPowerCount" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(powerID)
    from power
    where status = #{status,jdbcType=VARCHAR}
  </select>
  <select id="selectAllParPower" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from power
    where status = #{status,jdbcType=VARCHAR} and type = #{type,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from power
    where powerID = #{powerid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from power
    where powerID = #{powerid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.nuc.ssm.entity.Power">
    insert into power (powerID, praPoerID, powerName, 
      url, isCheck, description, 
      status, type, colum1, 
      colum2, colum3, colum4, 
      colum5)
    values (#{powerid,jdbcType=VARCHAR}, #{prapoerid,jdbcType=VARCHAR}, #{powername,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{ischeck,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{colum1,jdbcType=VARCHAR}, 
      #{colum2,jdbcType=VARCHAR}, #{colum3,jdbcType=VARCHAR}, #{colum4,jdbcType=VARCHAR}, 
      #{colum5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.nuc.ssm.entity.Power">
    insert into power
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="powerid != null">
        powerID,
      </if>
      <if test="prapoerid != null">
        praPoerID,
      </if>
      <if test="powername != null">
        powerName,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="ischeck != null">
        isCheck,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="colum1 != null">
        colum1,
      </if>
      <if test="colum2 != null">
        colum2,
      </if>
      <if test="colum3 != null">
        colum3,
      </if>
      <if test="colum4 != null">
        colum4,
      </if>
      <if test="colum5 != null">
        colum5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="powerid != null">
        #{powerid,jdbcType=VARCHAR},
      </if>
      <if test="prapoerid != null">
        #{prapoerid,jdbcType=VARCHAR},
      </if>
      <if test="powername != null">
        #{powername,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="ischeck != null">
        #{ischeck,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="colum1 != null">
        #{colum1,jdbcType=VARCHAR},
      </if>
      <if test="colum2 != null">
        #{colum2,jdbcType=VARCHAR},
      </if>
      <if test="colum3 != null">
        #{colum3,jdbcType=VARCHAR},
      </if>
      <if test="colum4 != null">
        #{colum4,jdbcType=VARCHAR},
      </if>
      <if test="colum5 != null">
        #{colum5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.nuc.ssm.entity.Power">
    update power
    <set>
      <if test="prapoerid != null">
        praPoerID = #{prapoerid,jdbcType=VARCHAR},
      </if>
      <if test="powername != null">
        powerName = #{powername,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="ischeck != null">
        isCheck = #{ischeck,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="colum1 != null">
        colum1 = #{colum1,jdbcType=VARCHAR},
      </if>
      <if test="colum2 != null">
        colum2 = #{colum2,jdbcType=VARCHAR},
      </if>
      <if test="colum3 != null">
        colum3 = #{colum3,jdbcType=VARCHAR},
      </if>
      <if test="colum4 != null">
        colum4 = #{colum4,jdbcType=VARCHAR},
      </if>
      <if test="colum5 != null">
        colum5 = #{colum5,jdbcType=VARCHAR},
      </if>
    </set>
    where powerID = #{powerid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.nuc.ssm.entity.Power">
    update power
    set praPoerID = #{prapoerid,jdbcType=VARCHAR},
      powerName = #{powername,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      isCheck = #{ischeck,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      colum1 = #{colum1,jdbcType=VARCHAR},
      colum2 = #{colum2,jdbcType=VARCHAR},
      colum3 = #{colum3,jdbcType=VARCHAR},
      colum4 = #{colum4,jdbcType=VARCHAR},
      colum5 = #{colum5,jdbcType=VARCHAR}
    where powerID = #{powerid,jdbcType=VARCHAR}
  </update>
</mapper>