<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nuc.ssm.dao.RolePowerMapper">
  <resultMap id="BaseResultMap" type="cn.edu.nuc.ssm.entity.RolePower">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="roleid" jdbcType="VARCHAR" property="roleid" />
    <result column="powerid" jdbcType="VARCHAR" property="powerid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, roleid, powerid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rolepower
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from rolepower
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.nuc.ssm.entity.RolePower">
    insert into rolepower (id, roleid, powerid
      )
    values (#{id,jdbcType=VARCHAR}, #{roleid,jdbcType=VARCHAR}, #{powerid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.nuc.ssm.entity.RolePower">
    insert into rolepower
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleid != null">
        roleid,
      </if>
      <if test="powerid != null">
        powerid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null">
        #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="powerid != null">
        #{powerid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.nuc.ssm.entity.RolePower">
    update rolepower
    <set>
      <if test="roleid != null">
        roleid = #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="powerid != null">
        powerid = #{powerid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.nuc.ssm.entity.RolePower">
    update rolepower
    set roleid = #{roleid,jdbcType=VARCHAR},
      powerid = #{powerid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>