<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.nuc.ssm.dao.movie.ScheduleMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.nuc.ssm.entity.movie.Schedule" >
    <id column="scheduleId" property="scheduleid" jdbcType="VARCHAR" />
    <result column="moveId" property="moveid" jdbcType="VARCHAR" />
    <result column="hallId" property="hallid" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="scolum1" property="colum1" jdbcType="VARCHAR" />
    <result column="scolum2" property="colum2" jdbcType="VARCHAR" />
    <result column="scolum3" property="colum3" jdbcType="VARCHAR" />
    <result column="scolum4" property="colum4" jdbcType="VARCHAR" />
    <result column="scolum5" property="colum5" jdbcType="VARCHAR" />
    <association property="movie" javaType="cn.edu.nuc.ssm.entity.movie.Movie">
      <id column="moveId" property="moveid" jdbcType="VARCHAR" />
      <result column="moveName" property="movename" jdbcType="VARCHAR" />
      <result column="director" property="director" jdbcType="VARCHAR" />
      <result column="actor" property="actor" jdbcType="VARCHAR" />
      <result column="language" property="language" jdbcType="VARCHAR" />
      <result column="typeId" property="typeid" jdbcType="VARCHAR" />
      <result column="distrit" property="distrit" jdbcType="VARCHAR" />
      <result column="date" property="date" jdbcType="VARCHAR" />
      <result column="keyWord" property="keyword" jdbcType="VARCHAR" />
      <result column="picId" property="picid" jdbcType="VARCHAR" />
      <result column="keyChinese" property="keychinese" jdbcType="VARCHAR" />
      <result column="routeId" property="routeid" jdbcType="VARCHAR" />
      <result column="mcolum1" property="colum1" jdbcType="VARCHAR" />
      <result column="mcolum2" property="colum2" jdbcType="VARCHAR" />
      <result column="mcolum3" property="colum3" jdbcType="VARCHAR" />
      <result column="mcolum4" property="colum4" jdbcType="VARCHAR" />
      <result column="mcolum5" property="colum5" jdbcType="VARCHAR" />
    </association>
    <association property="hall" javaType="cn.edu.nuc.ssm.entity.movie.Hall">
      <id column="hallId" property="hallid" jdbcType="VARCHAR" />
      <result column="hallHeats" property="hallheats" jdbcType="VARCHAR" />
      <result column="hallDescription" property="halldescription" jdbcType="VARCHAR" />
      <result column="hallsetNum" property="hallsetnum" jdbcType="VARCHAR" />
      <result column="hcolum1" property="colum1" jdbcType="VARCHAR" />
      <result column="hcolum2" property="colum2" jdbcType="VARCHAR" />
      <result column="hcolum3" property="colum3" jdbcType="VARCHAR" />
      <result column="hcolum4" property="colum4" jdbcType="VARCHAR" />
      <result column="hcolum5" property="colum5" jdbcType="VARCHAR" />
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    scheduleId, moveId, hallId, price, time, colum1, colum2, colum3, colum4, colum5
  </sql>

  <!--模糊查询数量-->
  <select id="selectScheduleCount" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select
    count(scheduleId)
    from schedule
  </select>
  <select id="selectScheduleByDate" resultMap="BaseResultMap">
    select s.scheduleid,
          s.moveid,
          s.hallid,
          s.price,
          s.time,
          s.colum1 as scolum1,
          s.colum2 as scolum2,
          s.colum3 as scolum3,
          s.colum4 as scolum4,
          s.colum5 as scolum5,

          m.moveid,
          m.movename,
          m.director,
          m.actor,
          m.language,
          m.typeid,
          m.distrit,
          m.date,
          m.keyword,
          m.picid,
          m.keychinese,
          m.routeid,
          m.colum1 as mcolum1,
          m.colum2 as mcolum2,
          m.colum3 as mcolum3,
          m.colum4 as mcolum4,
          m.colum5 as mcolum5,

          h.hallid,
          h.hallheats,
          h.halldescription,
          h.hallsetnum,
          h.colum1 as hcolum1,
          h.colum2 as hcolum2,
          h.colum3 as hcolum3,
          h.colum4 as hcolum4,
          h.colum5 as hcolum5
    from schedule s left join movie m on s.moveId = m.moveId left join hall h on h.hallid = s.hallid
    where s.time = #{date}
  </select>
  <!--查询电影的排片信息-->
  <select id="selectScheduleByMovieId" resultMap="BaseResultMap">
    select
    s.scheduleid,
    s.moveid,
    s.hallid,
    s.price,
    s.time,
    s.colum1 as scolum1,
    s.colum2 as scolum2,
    s.colum3 as scolum3,
    s.colum4 as scolum4,
    s.colum5 as scolum5,

    m.moveid,
    m.movename,
    m.director,
    m.actor,
    m.language,
    m.typeid,
    m.distrit,
    m.date,
    m.keyword,
    m.picid,
    m.keychinese,
    m.routeid,
    m.colum1 as mcolum1,
    m.colum2 as mcolum2,
    m.colum3 as mcolum3,
    m.colum4 as mcolum4,
    m.colum5 as mcolum5,

    h.hallid,
    h.hallheats,
    h.halldescription,
    h.hallsetnum,
    h.colum1 as hcolum1,
    h.colum2 as hcolum2,
    h.colum3 as hcolum3,
    h.colum4 as hcolum4,
    h.colum5 as hcolum5
    from schedule s left join movie m on s.moveId = m.moveId left join hall h on h.hallid = s.hallid
    where s.moveId = #{movieid}
  </select>
  <!--模糊查询分页显示-->
  <select id="selectScheduleByKey" resultMap="BaseResultMap">
    select
    s.scheduleid,
    s.moveid,
    s.hallid,
    s.price,
    s.time,
    s.colum1 as scolum1,
    s.colum2 as scolum2,
    s.colum3 as scolum3,
    s.colum4 as scolum4,
    s.colum5 as scolum5,

    m.moveid,
    m.movename,
    m.director,
    m.actor,
    m.language,
    m.typeid,
    m.distrit,
    m.date,
    m.keyword,
    m.picid,
    m.keychinese,
    m.routeid,
    m.colum1 as mcolum1,
    m.colum2 as mcolum2,
    m.colum3 as mcolum3,
    m.colum4 as mcolum4,
    m.colum5 as mcolum5,

    h.hallid,
    h.hallheats,
    h.halldescription,
    h.hallsetnum,
    h.colum1 as hcolum1,
    h.colum2 as hcolum2,
    h.colum3 as hcolum3,
    h.colum4 as hcolum4,
    h.colum5 as hcolum5
    from schedule s left join movie m on s.moveId = m.moveId left join hall h on h.hallid = s.hallid
    limit #{start},#{offset}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    s.scheduleid,
    s.moveid,
    s.hallid,
    s.price,
    s.time,
    s.colum1 as scolum1,
    s.colum2 as scolum2,
    s.colum3 as scolum3,
    s.colum4 as scolum4,
    s.colum5 as scolum5,

    m.moveid,
    m.movename,
    m.director,
    m.actor,
    m.language,
    m.typeid,
    m.distrit,
    m.date,
    m.keyword,
    m.picid,
    m.keychinese,
    m.routeid,
    m.colum1 as mcolum1,
    m.colum2 as mcolum2,
    m.colum3 as mcolum3,
    m.colum4 as mcolum4,
    m.colum5 as mcolum5,

    h.hallid,
    h.hallheats,
    h.halldescription,
    h.hallsetnum,
    h.colum1 as hcolum1,
    h.colum2 as hcolum2,
    h.colum3 as hcolum3,
    h.colum4 as hcolum4,
    h.colum5 as hcolum5
    from schedule s left join movie m on s.moveId = m.moveId left join hall h on h.hallid = s.hallid
    where scheduleId = #{scheduleid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from schedule
    where scheduleId = #{scheduleid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.nuc.ssm.entity.movie.Schedule" >
    insert into schedule (scheduleId, moveId, hallId, 
      price, time, colum1, 
      colum2, colum3, colum4, 
      colum5)
    values (#{scheduleid,jdbcType=VARCHAR}, #{moveid,jdbcType=VARCHAR}, #{hallid,jdbcType=VARCHAR}, 
      #{price,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, #{colum1,jdbcType=VARCHAR}, 
      #{colum2,jdbcType=VARCHAR}, #{colum3,jdbcType=VARCHAR}, #{colum4,jdbcType=VARCHAR}, 
      #{colum5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.nuc.ssm.entity.movie.Schedule" >
    insert into schedule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="scheduleid != null" >
        scheduleId,
      </if>
      <if test="moveid != null" >
        moveId,
      </if>
      <if test="hallid != null" >
        hallId,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="colum1 != null" >
        colum1,
      </if>
      <if test="colum2 != null" >
        colum2,
      </if>
      <if test="colum3 != null" >
        colum3,
      </if>
      <if test="colum4 != null" >
        colum4,
      </if>
      <if test="colum5 != null" >
        colum5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="scheduleid != null" >
        #{scheduleid,jdbcType=VARCHAR},
      </if>
      <if test="moveid != null" >
        #{moveid,jdbcType=VARCHAR},
      </if>
      <if test="hallid != null" >
        #{hallid,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="colum1 != null" >
        #{colum1,jdbcType=VARCHAR},
      </if>
      <if test="colum2 != null" >
        #{colum2,jdbcType=VARCHAR},
      </if>
      <if test="colum3 != null" >
        #{colum3,jdbcType=VARCHAR},
      </if>
      <if test="colum4 != null" >
        #{colum4,jdbcType=VARCHAR},
      </if>
      <if test="colum5 != null" >
        #{colum5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.nuc.ssm.entity.movie.Schedule" >
    update schedule
    <set >
      <if test="moveid != null" >
        moveId = #{moveid,jdbcType=VARCHAR},
      </if>
      <if test="hallid != null" >
        hallId = #{hallid,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="colum1 != null" >
        colum1 = #{colum1,jdbcType=VARCHAR},
      </if>
      <if test="colum2 != null" >
        colum2 = #{colum2,jdbcType=VARCHAR},
      </if>
      <if test="colum3 != null" >
        colum3 = #{colum3,jdbcType=VARCHAR},
      </if>
      <if test="colum4 != null" >
        colum4 = #{colum4,jdbcType=VARCHAR},
      </if>
      <if test="colum5 != null" >
        colum5 = #{colum5,jdbcType=VARCHAR},
      </if>
    </set>
    where scheduleId = #{scheduleid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.nuc.ssm.entity.movie.Schedule" >
    update schedule
    set moveId = #{moveid,jdbcType=VARCHAR},
      hallId = #{hallid,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      colum1 = #{colum1,jdbcType=VARCHAR},
      colum2 = #{colum2,jdbcType=VARCHAR},
      colum3 = #{colum3,jdbcType=VARCHAR},
      colum4 = #{colum4,jdbcType=VARCHAR},
      colum5 = #{colum5,jdbcType=VARCHAR}
    where scheduleId = #{scheduleid,jdbcType=VARCHAR}
  </update>
</mapper>